body {
  max-width: 500px;
 
}
.searchBox {
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}
::placeholder {
  color: rgba(63, 76, 119, 0.623);
  text-align: center;
  font-size: 90%;
}

.search {
  border: rgb(201, 205, 218) solid 1px;
  border-radius: 5px;
}

.submit {
  border: rgb(201, 205, 218) solid 1px;
  border-radius: 5px;
  color: rgba(63, 76, 119, 0.623);
  text-align: center;
}
.forecastBox {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: whitesmoke;
  border-radius: 10px;
  display: flex;

}
.currently {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: whitesmoke;
  border-radius: 10px;
}
.forecast {
  padding-top: 55px;
}
.cityName {
  font-size: 30px;
  font-weight: 600;
}

.currentlyText {
  font-size: 15px;
  letter-spacing: 2px;
}

.localTime {
  font-size: 15px;
  font-weight: 500;
}
.tempreture {
  font-size: 40px;
  font-weight: 600;
}
.degreeIcon {
  font-size: 30px;
}
.celsius {
  font-size: 20px;
}
.fahrenheit {
  font-size: 20px;
  border-left: 1px solid whitesmoke;
}
.icon {
  font-size: 40px;
  align-items: center;
}
.description {
  font-size: 17px;
}

.humadityText {
  font-size: 13px;
  letter-spacing: 1px;
}
.humadity {
  font-size: 13px;
}
.windText {
  font-size: 13px;
  letter-spacing: 1px;
}
.wind {
  font-size: 13px;
}

.footer {
  margin-top: -5px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: rgb(63, 76, 119);
}
i {
  font-size: 12px;
}
i:hover {
  transform: scale(1.5);
}
.coder {
  font-size: 10px;
}
