body {
  max-width: 400px;
}

.body {
  display: block;
  margin: 0 auto;
}
.searchBox {
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px;
}
.currentTime {
  color: whitesmoke;
  text-shadow: -2px 2px 4px black;
  letter-spacing: 1px;
}

.search {
  border: rgb(201, 205, 218) solid 1px;
  border-radius: 5px;
}
::placeholder {
  color: rgba(63, 76, 119, 0.623);
  text-align: center;
  font-size: 90%;
  border: none;
}
.submit {
  border: rgb(201, 205, 218) solid 1px;
  border-radius: 5px;
  color: rgba(63, 76, 119, 0.623);
  text-align: center;
}

.submit:hover {
  background-color: #537895;
  color: whitesmoke;
  border: 1px solid #537895;
}
.forecastBox {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
}
.currently {
  color: whitesmoke;
  border-radius: 10px;
  max-width: 50%;
}
.forecast {
  padding-top: 55px;
  align-items: flex-end;
  text-align: center;
}

.cityName {
  font-size: 30px;
  font-weight: 600;
}

.currentlyText {
  font-size: 15px;
  letter-spacing: 2px;
}

.localTime {
  font-size: 15px;
  font-weight: 500;
}
.tempreture {
  font-size: 40px;
  font-weight: 600;
}
.degreeIcon {
  font-size: 30px;
}
.celsius {
  font-size: 20px;
}
.fahrenheit {
  font-size: 20px;
  border-left: 1px solid whitesmoke;
}
.icon {
  font-size: 40px;
  align-items: center;
}
.description {
  font-size: 17px;
}

.humadityText {
  font-size: 13px;
  letter-spacing: 1px;
}
.humadity {
  font-size: 13px;
}
.windText {
  font-size: 13px;
  letter-spacing: 1px;
}
.wind {
  font-size: 13px;
}

.footer {
  margin-top: -5px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: rgb(63, 76, 119);
}
i {
  font-size: 12px;
}
i:hover {
  transform: scale(1.5);
}
.coder {
  font-size: 10px;
}
