body {
  color: whitesmoke;
  font-weight: 600;
}

.border {
  max-width: 450px;
  border-radius: 30px;
  padding: 0px;
  margin: 0px auto;
  display: grid;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  margin-top: 30px;
  padding: 10px;
  padding-bottom: 20px;
}

div.containor {
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enterCity {
  padding: 5px;
  width: 155px;
  height: 25px;
  font-size: 13px;
  border: none;
  background-color: rgba(105, 105, 105, 0.37);
  letter-spacing: 2px;
  border-radius: 4px;
  color: #696e72;
  box-shadow: 0px 0px 8px 0px black;
}
.enterCity:hover {
  color: #f8f9fa;
  background: #7e7cdd;
  border-color: #7e7cdd;
}
::placeholder {
  color: whitesmoke;
  text-shadow: -2px 2px 2px black;
  border: none;
  text-align: center;
}

.submitCity {
  padding: 0px;
  margin-left: 5px;
  width: 27px;
  height: 25px;
  font-size: 13px;
  border: none;
  background-color: rgba(105, 105, 105, 0.37);
  text-shadow: -2px 2px 2px black;
  box-shadow: 0px 0px 8px 0px black;
  color: whitesmoke;
  border-radius: 4px;
}
.submitCity:hover {
  color: #f8f9fa;
  background: #7e7cdd;
  border-color: #7e7cdd;
}

.typename {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  max-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.date {
  max-width: 200px;
  font-size: 18px;
  font-weight: 500;
  padding: 0px;
  margin: 0px auto;
  margin-top: 3px;
  text-align: center;
  align-items: center;
  padding-bottom: 5px;
}

.date:hover {
  transform: scale(1.08);
  border-radius: 15px;
}

span.row.tempreture {
  display: flex;
  justify-content: space-around;
}
.currently {
  max-width: 200px;
  text-align: center;
  padding: 0px;
  padding-bottom: 2px;
}
.forecast {
  max-width: 200px;
  text-align: center;
  margin: 0px;
  font-size: 14px;
  padding: 0px;
  text-align: center;
  display: flex;
  margin-top: 14px;
}

div.row.fTable {
  padding: 0px;
  box-shadow: 0px 0px -4px 0px black;
  border: 1px solid #60667d;
  text-align: center;
  font-size: 13px;
  margin: 0px;
  max-width: 190px;
  align-items: baseline;
  max-height: 32px;
  border-radius: 3px;
  margin-bottom: 4px;
}
div.row.fTable:hover {
  transform: scale(1.08);
  border-radius: 2px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
.cityName {
  padding: 0px;
  padding-top: 4px;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 29px;
  text-shadow: 2px 3px 2px black;
  font-weight: 600;
}
hr {
  padding: 0px;
  margin: 0px;
}
.CurrentLocation {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  letter-spacing: 3px;
}
.timezone {
  font-size: 15px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
}
.mainIcon {
  margin: 0px;
  width: 80px;
  padding: 0px;
}

.h2Temp {
  font-size: 39px;
  text-shadow: 2px 3px 2px black;
  font-weight: 600;
}
h6 {
  font-size: 15px;
  text-transform: capitalize;
  padding-top: 10px;
  font-weight: 600;
}
.humidityAndwind {
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  letter-spacing: 1px;
}
.active {
  cursor: default;
  color: #f8f9fa;
  text-decoration: aliceblue;
}

.active:hover {
  cursor: text;
  color: #f8f9fa;
}
.celsius,
.fahrenheit {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;

  font-weight: 600;
}

.fahrenheit {
  border-left: 1px solid #8d959b;
  padding-left: 2px;
}
#min {
  color: #cddff0;
}
#minmax {
  font-size: 14px;
  text-shadow: 2px 3px 2px black;
  font-weight: 600;
}
div.col {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.footer {
  margin-top: -5px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: rgb(63, 76, 119);
}
i {
  font-size: 12px;
}
i:hover {
  transform: scale(1.5);
}
.coder {
  font-size: 10px;
}
